@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body { 
    background-color: rgba(253, 242, 222, 1);
    font-family: 'Inter', sans-serif;
    text-align: center;

    
}

header {
    display: flex;
    justify-content: space-between;
    
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav {
    display: none;
}

@media screen and (min-width: 700px) {
    header nav {
        display: block;
    }
}

.hamburger {
    display: block;
}

@media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }

}
header nav ul li {
    color: black;

}
header nav ul li:hover {
    color: black;
    text-decoration: underline;
}
.Aminaphoto {
    width: 300px;
    margin: 100px auto 100px auto;
}

.title { 
    margin-top: 100px;
}
.p {
    margin-top: 100px;
    
}
.h2 {
    margin-top: 100px   ;
}
.flex-container1 {
    
    margin: 30px 40px 50px;
    padding: 70px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    
    
    
  }

  .div1, .div2, .div3  {
    width: 12rem;
    height: 10rem;
    background-color: #D3A663;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    border-radius: 14px;
    
  }


  h4{ 
    margin-top: 500px;

}