@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body { 
    background-color: rgba(253, 242, 222, 1);
    font-family: 'Inter', sans-serif;

    
}

header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav {
    display: none;
}

@media screen and (min-width: 700px) {
    header nav {
        display: block;
    }
}

.hamburger {
    display: block;
}

@media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }

}
header nav ul li {
    color: black;

}
header nav ul li:hover {
    color: black;
    text-decoration: underline;
}
.Aminaphoto {
    width: 300px;
    margin: 100px 150px 100px 500px;
}

.title{
    margin: 50px 150px 5px 450px;
}


p { 
    margin:50px 150px 100px 450px; ;
}

h4{ 
    margin:0px 150px 100px 450px;

}

.flex-container1 > div {
    background-color: #D3A663;
    margin: 30px 40px 50px;
    padding: 70px;
    font-size: 30px;
    flex-direction: row;
  }


{ }{ }{ }{ }{ }{ }{ }{ }